Repository cougars-oss/coug-fgo-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_flake8, ament_pep257, ament_lint_cmake, ament_xmllint, ament_copyright

ament_uncrustify:
  name: ament_uncrustify
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_uncrustify --reformat "$@"'' --
  
    '
  language: system

ament_cpplint:
  name: ament_cpplint
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_cpplint "$@"'' --
  
    '
  language: system

ament_cppcheck:
  name: ament_cppcheck
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && export AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 && ament_cppcheck "$@"'' --
  
    '
  language: system

ament_flake8:
  name: ament_flake8
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_flake8 "$@"'' --
  
    '
  language: system

ament_pep257:
  name: ament_pep257
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_pep257 "$@"'' --
  
    '
  language: system

ament_lint_cmake:
  name: ament_lint_cmake
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_lint_cmake "$@"'' --
  
    '
  language: system

ament_xmllint:
  name: ament_xmllint
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_xmllint "$@"'' --
  
    '
  language: system

ament_copyright:
  name: ament_copyright
  entry: 'docker exec cougars-ct bash -c ''source /opt/ros/humble/setup.bash && ament_copyright "$@"'' --
  
    '
  language: system

Fix for ROS CI entrypoint errors
  .github/workflows/docker_ci.yml
  docker/Dockerfile
  docker/docker-compose.yaml
  docker/entrypoint.sh
  holoocean/docker/docker-compose.yaml
  holoocean/docker/entrypoint.sh
Due: none

New reliable ROS CI structure
  .github/workflows/ros_ci.yml
Due: none

Quick permissions update
  docker/docker-compose.yaml
Due: none

FIx for ROS CI failure
  coug_ws/src/coug_bringup/launch/bag.launch.py
Due: ament_flake8, ament_pep257, ament_copyright

Fix for failing CI test
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_copyright

Better evo alignment
  docs/plots/evo_eval.sh
Due: none

Better trajectory plots
  docs/plots/traj_plot.py
Due: none

Better param naming conventions
  coug_ws/src/holoocean_bridge/holoocean_bridge/ahrs_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/depth_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/dvl_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/gps_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/imu_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/mag_converter_node.py
  coug_ws/src/holoocean_bridge/holoocean_bridge/truth_converter_node.py
  coug_ws/src/holoocean_bridge/launch/holoocean_bridge.launch.py
  coug_ws/src/sensor_bridge/package.xml
Due: ament_flake8, ament_pep257, ament_xmllint, ament_copyright

Better plojuggler loading
  coug_ws/src/coug_gui/config/plotjuggler.xml
Due: ament_xmllint

Added better parameter handling
  coug_ws/src/coug_description/launch/coug_description.launch.py
  coug_ws/src/coug_fgo/include/coug_fgo/factors/ahrs_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/depth_factor_arm.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/dvl_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/dvl_preintegrated_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/gps_factor_arm.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/mag_factor_arm.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/navsat_preprocessor_node.hpp
  coug_ws/src/coug_gui/config/bluerov2_mapviz_config.mvc
  coug_ws/src/coug_gui/config/bluerov2_rviz_config.rviz
  coug_ws/src/coug_gui/config/mapviz_config.mvc
  coug_ws/src/coug_gui/config/multi_mapviz_config.mvc
  coug_ws/src/coug_gui/config/multi_rviz_config.rviz
  coug_ws/src/coug_gui/config/rviz_config.rviz
  coug_ws/src/coug_gui/mapviz_plugins.xml
  coug_ws/src/coug_navigation/CMakeLists.txt
  coug_ws/src/coug_navigation/include/coug_navigation/hsd_commander_node.hpp
  coug_ws/src/coug_navigation/package.xml
  coug_ws/src/coug_navigation/params/hsd_commander_params.yaml
  coug_ws/src/coug_navigation/src/hsd_commander_node.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_flake8, ament_pep257, ament_lint_cmake, ament_xmllint, ament_copyright

Updated CI naming
  .github/workflows/ros2_ci.yml
  README.md
Due: none

Update ROS2 CI badge link in README
  README.md
Due: none

Better folder naming
  .github/dependabot.yml
  media/diagrams/fgo_diagrams.py
  media/diagrams/fgo_dvl_between.pdf
  media/diagrams/fgo_dvl_between.png
  media/diagrams/fgo_dvl_binary.pdf
  media/diagrams/fgo_dvl_binary.png
  media/diagrams/requirements.txt
  media/latex-packages.txt
  media/plots/evo_eval.sh
  media/plots/metrics_plot.py
  media/plots/proc_batch.sh
  media/plots/requirements.txt
  media/plots/traj_plot.py
Due: none

Better README citation inclusions
  README.md
Due: none

TURTLMap version working on real data
  coug_ws/src/coug_fgo/config/coug_fgo_params.yaml
  coug_ws/src/coug_fgo/include/coug_fgo/factor_graph_node.hpp
  coug_ws/src/coug_fgo/params/factor_graph_params.yaml
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
  coug_ws/src/sensor_bridge/config/sensor_bridge_params.yaml
  coug_ws/src/sensor_bridge/sensor_bridge/dvl_twist_converter_node.py
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_flake8, ament_pep257, ament_copyright

Fixes for CI errors
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
  coug_ws/src/coug_navigation/src/hsd_commander_node.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_copyright

Fix for Dockerfile deps
  coug_ws/src/coug_gui/package.xml
Due: ament_xmllint

Quick dependency fix
  coug_ws/src/coug_gui/package.xml
Due: ament_xmllint

Added iSAM2, constant velocity factor
  coug_ws/src/coug_bringup/launch/bag.launch.py
  coug_ws/src/coug_fgo/config/coug_fgo_params.yaml
  coug_ws/src/coug_fgo/include/coug_fgo/factor_graph_node.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/constant_velocity_factor.hpp
  coug_ws/src/coug_fgo/params/factor_graph_params.yaml
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
  coug_ws/src/coug_localization/config/coug_localization_params.yaml
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_flake8, ament_pep257, ament_copyright

Added average opt duration publishing
  coug_ws/src/coug_fgo/include/coug_fgo/factor_graph_node.hpp
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_copyright

Added const vel test
  coug_ws/src/coug_fgo/CMakeLists.txt
  coug_ws/src/coug_fgo/config/coug_fgo_params.yaml
  coug_ws/src/coug_fgo/include/coug_fgo/factors/constant_velocity_factor.hpp
  coug_ws/src/coug_fgo/test/test_constant_velocity_factor.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_lint_cmake, ament_copyright

Factor file cleanup
  coug_ws/src/coug_fgo/CMakeLists.txt
  coug_ws/src/coug_fgo/include/coug_fgo/factors/ahrs_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/depth_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/gps_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/hydrodynamic_factor.hpp
  coug_ws/src/coug_fgo/include/coug_fgo/factors/mag_factor.hpp
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
  coug_ws/src/coug_fgo/test/test_ahrs_factor.cpp
  coug_ws/src/coug_fgo/test/test_depth_factor.cpp
  coug_ws/src/coug_fgo/test/test_dvl_preintegrator.cpp
  coug_ws/src/coug_fgo/test/test_gps_factor.cpp
  coug_ws/src/coug_fgo/test/test_hydrodynamic_factor.cpp
  coug_ws/src/coug_fgo/test/test_mag_factor.cpp
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_lint_cmake, ament_copyright

Debugging magnetic declination
  coug_ws/src/coug_fgo/config/coug_fgo_params.yaml
  coug_ws/src/coug_fgo/params/factor_graph_params.yaml
  coug_ws/src/coug_fgo/src/factor_graph_node.cpp
  holoocean/config/bluerov2_openwater.json
  holoocean/config/coug_openwater.json
  holoocean/config/multi_coug_openwater.json
Due: ament_uncrustify, ament_cpplint, ament_cppcheck, ament_copyright

Disabled AHRS by default
  coug_ws/src/coug_fgo/config/coug_fgo_params.yaml
Due: none

Testing CI Fix with packages
  .github/workflows/ros2_ci.yml
  docker/docker-compose.yaml
Due: none

Better documentation
  media/plots/proc_batch.sh
Due: none

Better Docker permission handling
  compose.sh
  docker/docker-compose.yaml
  docker/entrypoint.sh
  holoocean/compose.sh
  holoocean/docker/docker-compose.yaml
  holoocean/docker/entrypoint.sh
Due: none

Removed visualization tutorials
  packages/coug_gui/rviz/rviz_config.rviz
  packages/cougars.repos
Due: none

Quick docs update
  packages/holoocean_bridge/launch/holoocean_bridge.launch.py
Due: none

Quick naming fix
  packages/coug_fgo/include/coug_fgo/factor_graph_node.hpp
  packages/coug_fgo/include/coug_fgo/factors/ahrs_factor.hpp
  packages/coug_fgo/include/coug_fgo/factors/auv_dynamics_factor.hpp
  packages/coug_fgo/include/coug_fgo/factors/dvl_factor.hpp
  packages/coug_fgo/include/coug_fgo/factors/dvl_preintegrated_factor.hpp
  packages/coug_fgo/include/coug_fgo/factors/gps_factor.hpp
  packages/coug_fgo/include/coug_fgo/utils/dvl_preintegrator.hpp
  packages/coug_fgo/src/factor_graph_node.cpp
  packages/coug_fgo/test/test_ahrs_factor.cpp
  packages/coug_fgo/test/test_auv_dynamics_factor.cpp
  packages/coug_fgo/test/test_dvl_factor.cpp
  packages/coug_fgo/test/test_dvl_preintegrated_factor.cpp
  packages/coug_fgo/test/test_dvl_preintegrator.cpp
  packages/coug_fgo/test/test_gps_factor.cpp
Due: none

Added CougUV force converter
  packages/holoocean_bridge/config/holoocean_bridge_params.yaml
  packages/holoocean_bridge/holoocean_bridge/wrench_converter_node.py
Due: none

Code cleanup
  docker/docker-compose.yaml
  holoocean/docker/docker-compose.yaml
  scripts/bag_launch.sh
  scripts/sim_launch.sh
Due: none

Fix for package deps
  .github/pull_request_template.md
  README.md
  docker/Dockerfile
  packages/coug_bringup/package.xml
  packages/coug_gui/package.xml
Due: none

Revert mcap change
  docker/Dockerfile
  packages/coug_bringup/package.xml
Due: none

Quick fix for tmux logic
  compose.sh
Due: none

Script updates
  .github/pull_request_template.md
  .github/workflows/docker_ci.yml
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/completions.sh
  docker/entrypoint.sh
  docker/gtsam/Dockerfile
  holoocean/docker/entrypoint.sh
  media/diagrams/fgo_diagrams.py
  media/plots/evo_eval.sh
  media/plots/metrics_plot.py
  media/plots/proc_batch.sh
Due: none

Better URDF path handling
  docker/Dockerfile
  packages/coug_bringup/launch/auv.launch.py
  packages/coug_bringup/launch/bag.launch.py
  packages/coug_bringup/launch/sim.launch.py
  packages/coug_description/launch/coug_description.launch.py
  scripts/sim_launch.sh
Due: none

Remove navigation links from README
  README.md
Due: none

Quick fix for localization setup
  packages/coug_bringup/launch/auv.launch.py
  packages/coug_fgo/launch/coug_fgo.launch.py
  packages/coug_localization/config/coug_localization_params.yaml
  packages/coug_localization/launch/coug_localization.launch.py
Due: none

Better mapviz GUI
  packages/coug_mapviz/CMakeLists.txt
  packages/coug_mapviz/include/coug_mapviz/coug_waypoint_manager.hpp
  packages/coug_mapviz/include/coug_mapviz/coug_waypoints_plugin.hpp
  packages/coug_mapviz/package.xml
  packages/coug_mapviz/src/coug_waypoint_manager.cpp
  packages/coug_mapviz/src/coug_waypoints_plugin.cpp
  packages/coug_mapviz/waypoints/example.json
  packages/coug_navigation/config/coug_navigation_params.yaml
  packages/coug_navigation/include/coug_navigation/waypoint_follower_node.hpp
  packages/coug_navigation/params/waypoint_follower_params.yaml
  packages/coug_navigation/src/waypoint_follower_node.cpp
  packages/coug_rqt/package.xml
  packages/coug_rqt/setup.py
  packages/coug_rviz/package.xml
  packages/coug_rviz/setup.py
Due: ament_lint_cmake

Path conditions:
  ament_uncrustify: any of: ^coug_ws/src/.*\.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cxx|cu)$
  ament_cpplint: any of: ^coug_ws/src/.*\.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cxx|cu)$
  ament_cppcheck: any of: ^coug_ws/src/.*\.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cxx|cu)$
  ament_flake8: any of: ^coug_ws/src/.*\.py$, but not: /setup\.py$
  ament_pep257: any of: ^coug_ws/src/.*\.py$, but not: /setup\.py$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_xmllint: any of: ^coug_ws/src/.*\.xml$
  ament_copyright: any of: ^coug_ws/src/, but not: (?x)^(
    .*\.json|
    .*\.yaml|
    .*\.yml|
    .*\.xml|
    .*\.repos|
    .*\.txt|
    .*/setup\.py
)$

